<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="base :: head"></th:block>

    <title>All Bootcamps</title>

</head>
<body>
	<h1 th:text="${message}"></h1>
	<!--<div th:replace="base :: navbar"></div>-->
	<th:block th:each="camp: ${allCamps}">
		<div class="content table-responsive table-full-width ">
			<table class="table table-hover" >
				<tr>
					<th>Camp Name</th>
				</tr>
					<td ><a th:href="@{'/camp/' + ${camp.campId}}" th:text="${camp.campName}"></a></td>
			</table>
		
		</div>
	
	
	</th:block>

</body>
</html>