<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="base :: head"></th:block>

    <title>Accept Bootcamp</title>

</head>
<body>
<div>
    <br/>
    <br/>
    <br/>
    <!--<div th:replace="base :: navbar"></div>-->
    <th:block th:each="camp: ${campList}">

        <div class = "col-md-3 col-md-offset-2">
            <a th:href ="@{'/camp/' + ${camp.campId}}">
            <button type="button" class="btn btn-simple" data-toggle="tooltip" data-placement="right"
                    th:title="'Description: '+${camp.description}"
                    th:text="${camp.campName}">
            </button>
            </a>
        </div>
        <div class = "col-md-4">
            <!--if enabled-->
            <a th:href="@{'/campenable/' + ${camp.campId}}">
                <button type="button" th:class = "${camp.enabled}? 'btn btn-info':'btn btn-default'"
                        th:disabled="${camp.enabled}" th:text="enable"></button>
            </a>
            <!--if disabled-->
            <a th:href="@{'/campenable/' + ${camp.campId}}">
                <button type="button" th:class = "${camp.enabled}? 'btn btn-default':'btn btn-info'"
                        th:disabled="${camp.enabled} == false" th:text="disable"></button>
            </a>
                            <!--<div class="panel-body">
                                <p th:text="'Description: '+${camp.description}"></p>
                                <p th:text="'Start Date: '+ ${#dates.format(camp.startDate, 'MM-dd-yyyy')}"></p>
                                <p th:text="'End Date: '+ ${#dates.format(camp.endDate, 'MM-dd-yyyy')}"></p>
                            </div>-->
        </div>
    </th:block>
</div>
<script>
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip();
</script>
    <div th:replace="base :: footlinks"></div>
    </body>
</html>