<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <th:block th:replace="base :: head"></th:block>

    <title>Register Bootcamp</title>

</head>
<style>
    .main {
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
</style>
<body class="profile-page">
<th:block th:replace="base :: nav"></th:block>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>
    <div class="main main-raised">

<div th:replace="base :: navbar"></div>
<form th:object="${camp}" th:action = "@{/createcamp}" method = "POST">
   <div class="form-group">
       <label for="name">Bootcamp Name</label>
       <input type="text" name="name" class = "form-control" id = "name" th:value = "${camp.campName}" th:field="*{campName}"/>
   </div>
   <div class="form-group">
       <label for="description">Bootcamp Description</label>
       <textarea class="form-control" rows="5" id="description" name = "description" th:value = "${camp.description}" th:field="*{description}"></textarea>
   </div>
   <div class="form-group">
       <label for="topic">Topics Covered</label>
       <input type="text" class = "form-control" id = "topic"  th:value = "${camp.topic}" th:field="*{topic}"/>
   </div>
   <div class="form-group">
       <label for="sdate">Start Date</label>
       <input class="datepicker form-control" type = "text" id = "sdate"
              th:value = "${#dates.format(camp.startDate,'MM/dd/yyyy')}" th:name = "sDate"/>
   </div>
   <div class="form-group">
       <label for="edate">End Date</label>
       <input class="datepicker form-control" type = "text" id = "edate"
              th:value = "${#dates.format(camp.endDate,'MM/dd/yyyy')}" th:name = "eDate"/>
   </div>
    <div class="input-group">
        <label for ="city">Select City</label>
       <select class="form-control" data-style="form-control" data-width="25%" title = "Choose City" th:name = "cityId">
           <th:block th:each="city: ${cityList}">
               <option th:value="${city.id}" th:text = "${city.city}" th:selected="${camp.city.id} == ${city.id}" id = "city">
                   cityname</option>
           </th:block>
       </select>
   </div>
    <input type="hidden" th:value = "*{campId}" th:field = "*{campId}"/>
    <input type="hidden" th:value = "*{adminId}" th:field = "*{adminId}"/>
    <input type="hidden" th:value = "*{enabled}" th:field = "*{enabled}"/>
    <button type="submit" class = "btn btn-default">Submit</button>

</form>
<script>
    $('.datepicker').datepicker({
        weekStart:1
    });
</script>
<div th:replace="base :: footlinks"></div>

    </div>
</div>
</body>

</html>