<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="base :: head"></th:block>

</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class = "col-md-4 col-md-offset-2">
    <br/>
    <br/>
    <br/>
    <br/>
    <th:block th:each="camp: ${campList}">
        <button type="button" class="btn btn-simple" data-toggle="popover" data-placement="left"
                th:title="'Description: '+${camp.description}"
                th:text="${camp.campName}"
                th:attr="data-content= ${#dates.format(camp.startDate, 'MM-dd-yyyy')} + ' to ' +${#dates.format(camp.endDate, 'MM-dd-yyyy')} ">
        </button>
        <a th:href = "@{'/editcamp/' +${camp.campId}}">Edit</a>
    </th:block>
</div>

<script>
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip();
</script>

<div th:replace="base :: footlinks"></div>
</body>
</html>