<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My application status</title>
	<th:block th:replace="base :: head"></th:block>
    
</head>
<body class="profile-page">
<th:block th:replace="base :: nav"></th:block>
<div class="wrapper">
	<div class="header header-filter" style="background-image: url('../assets/img/examples/city.jpg');"></div>
	<div class="main main-raised">
		<table class="table table-hover">
			<tr>
				<th>Camp name</th>
				<th>Start date</th>
				<th>End Date</th>
				<th>Status</th>
			</tr>
			<tr th:each="ucamp : ${usercamp}">

				<td ><a th:href="@{'/camp/' + ${ucamp.camp.campId}}" th:text="${ucamp.camp.campName}"></a></td>
					<td th:text="${#dates.format(ucamp.camp.startDate, 'MM-dd-yyyy')}"></td>
					<td th:text="${#dates.format(ucamp.camp.endDate, 'MM-dd-yyyy')}"></td>
					<td th:text="${ucamp.status}"></td>
			</tr>
			
		</table>
	</div>
</div>
</body>
</html>