<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My application status</title>

    
</head>
	<body>
		
			
		<table >
			<tr>
				<th>Camp name</th>
				<th>Start date</th>
				<th>End Date</th>
				<th>Status</th>
			</tr>
			<tr th:each="ucamp : ${usercamp}">
				
					<td th:text="${ucamp.camp.campName}"></td>
					<td th:text="${ucamp.camp.startDate}"></td>
					<td th:text="${ucamp.camp.endDate}"></td>
					<td th:text="${ucamp.status}"></td>
			</tr>
			
		</table>	
</body>
</html>